body {
	height: 100%;
	width : 100%;
	padding: 0;
	margin: 0;
}

.colonne1 {
    background-color: yellow;
}
.colonne2 {
    background-color: blue;
}
.colonne3 {
    background-color: green;
}

#colonnes {
	height: 10em;
    width: 10em;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: white;
    vertical-align: middle;
    font-size: 2em;
    font-weight: bold;
}

.ui-input-invalid {
	color: red;
	border-color: red;
}

.ui-input-valid {
	color: black;
	border-color: black;
}

#table1, #table2 {
	border: solid 1px black;
	height: 300px;
	width: 200px;
}

#table2 {
	width: 500px;
	text-align: center;
}

#table3 {
	width: 100%;
	text-align: center;
}


#table3 tr {
	margin-bottom: 2%;
	text-align: center;
}

#table3 tr td {
	width: 33.3%;
	padding-left: 5%;
	padding-right: 5%
}

#table4 {
	width: 100%;
}

#table5 {
	margin-left: 30%;
	margin-right: 30%;
}

#table6, #table7 {
	width: 200px;
	height: 200px;
}
#table6 {
	border: solid 1px black;
}

#recipeList tr{
	width: 20%;
}

#commentForm {
	margin: 0;
	margin-top: 2%;
}

.title {
	font-size: 2em;
	font-weight: bold;
}

.desc {
	
}

/*td {
	height: 50em;
}*/