* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}

.header {
	display: inline-block;
	width: 100%;
}

.header #headTitle {
	float: left;
	width: 50%;
	/*border: 1px solid black;*/
}

.header #headP {
	width: 20%;
	/*border: 1px solid red;*/
	margin: auto;
	text-align: right;
}

.header #headForm {
	float: right;
	width: 25%;
	/*border: 1px solid green;*/
} 

.footer #footTitle {
	float: left;
}

.footer #footImg {
	float: right;
}


#container {
	min-height: 100%;
	margin-bottom: -15%;
}

#container:after {
  content: "";
  display: block;
}

.corebody {
	margin: auto;
}

.corebody form {
	margin-top: 6em;
	margin-left: 30%;
	margin-right: 30%;
}

#headTitle
{
	max-width: 30%;
	height: 100px;
}

.recipePage
{
	background-color: #5E96D5;
}

.emergencyPage
{
	background-color: #FE8709;
}

.adminPage
{
	background-color: #BE0005;
	color: #FFFFFF;
}

.defaultPage
{
	background-color: #FFFFFF;
}